.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photo img {
    width: 280px;
    height: 250px;
}

section.galeri {
    background: #e9fdff;
}

.photo img {
    padding: 16px;
}

span.tag_item {
    font-size: 20px;
    padding: 5px 10px;
    margin: 0px 5px;
    border: 2px dotted gray;
    cursor: pointer;
    border-radius: 10px;
}

.tag {
    text-align: center;
    margin: 40px 0px;
}

span.tag_item.active_tag {
    font-weight: bold;
    border: 2px dashed;
}
