@import url('css/header.css');
@import url('css/test-section.css');
@import url('css/random-section.css');
@import url('css/calc-section.css');
@import url('css/photo-section.css');
@import url('css/footer.css');

* {
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Geneva, Arial, sans-serif;
}

 body {
    max-width: 1920px;
    margin: 0 auto;
}

.conteiner {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.flex_item {
    max-width: 610px;
    text-align: center;
    padding: 0px 10px;
}

img {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input_style {
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 10px rgb(0 0 0 / 32%), 0 0 10px rgb(0 0 0 / 36%);
    -moz-box-shadow: inset 0 0 10px rgb(0 0 0 / 32%), 0 0 10px rgb(0 0 0 / 36%);
    box-shadow: inset 0 0 10px rgb(0 0 0 / 32%), 0 0 10px rgb(0 0 0 / 36%);
    padding: 14px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    width: 230px!important;
}
.btn_style {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    font-size: 14px;
    letter-spacing: .3em;
    padding: 17px 34px 17px 39px;
    cursor: pointer;
    width: 230px;
}
    
@media screen and (max-width: 800px) {
    .flex_item {
        max-width: 450px;
        text-align: center;
        padding: 0px 10px;
    }
}

@media screen and (max-width: 800px) {
    .flex {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) {
    .btn_style {
        padding: 13px;
        width: 175px;
        margin: 5px;
    }
}

@media screen and (max-width: 800px) {
    .input_style {
        width: 100px!important;
        padding: 9px;
    }
}

@media screen and (max-width: 800px) {
    p.test_input_output {
        font-size: 25px;
        color: red;
        padding: 15px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 800px) {
    span.tag_item {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    ul li a {
        padding: 5px;
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    img.imgMobile {
        display: block;
    }
}
@media screen and (max-width: 800px) {
    img.imgDesktop {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .output_calc_person {
        margin-top: 20px;
    }
}

@media screen and (max-width: 800px) {
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    .photo img {
        width: 150px;
        height: 134px;
    }
}